.item
{
    width: 100%;    
    display: flex;
    margin: 0.25em 0;
    align-items: center;
    
    .details
    {
        display: flex;
        flex-direction: column;
    }

    i {
        cursor: pointer;
        margin-left: auto;
    }
}
.name
{
    color: var(--primary-dark);
    font-weight: 600;
}

.container{
    height: 60vh;
    overflow-y: scroll;
}