.item 
{
    width: 100%;    
    display: flex;
    margin: 0.25em 0;
    align-items: center;
    padding: 0.25em 1em;
    
    .details
    {
        display: flex;
        flex-direction: column;
    }

    i {
        cursor: pointer;
        margin-left: auto;  
        outline: none;      
        color: var(--primary-light);
    }

    i:hover {
        color: var(--primary-dark);
    }
}

.icons {
    margin-left: auto;
    outline: none;
}

.item:nth-child(odd){
    background-color: var(--primary);
    margin: 0 -1em;

    span {
        color: #fff;
    }
}
.name
{
    color: var(--primary-dark);
    font-weight: 600;
}

.container{
    height: 60vh;
    overflow-y: scroll;
    padding-top: 0;
    padding-bottom: 0;
}