<div class="container">
<div class="top">
    Count:{{numberOfItems}}
</div>
    <div *ngFor="let item of itemService.recoveredItems;let i = index" class="item">      
        <div class="details">
           
            <span class="name">{{item.name}}</span>   
            <span class="desc">{{item.description}}</span>
        </div>
        <div class="icons">
            <i class="material-icons" (click)="showEdit(item.id)">
                edit
            </i>      
            <i class="material-icons" (click)="deleteItem(item.id)">
                delete_outline
            </i>
        </div>


    </div>
</div>