<div class="container">
    <div *ngFor="let item of itemService.recoveredItems" class="item">      
        <div class="details">
            <span class="name">{{item.name}}</span>   
            <span class="desc">{{item.description}}</span>
        </div>
        <div class="icons">
            <i class="material-icons" (click)="openEdit()" (click)="showEdit()">
                edit
            </i>      
            <i class="material-icons" (click)="deleteItem(item.id)">
                delete_outline
            </i>
        </div>

    </div>
</div>