
<div class="container uncentered">
    <span class="title">Name:</span>
    <input type="text" (click)="reset()" (keyup)="onKey($event)" placeholder="Enter Name:" [(ngModel)]="item.name"> 
    <span class="message">message:{{mess.message1}}</span>
    <span class="title">Description:</span>
    <input type="text" (click)="reset()" (keyup)="onKey($event)" placeholder="Enter Description" [(ngModel)]="item.description"> 
    <span class="message">message:{{mess.message2}}</span>
    <button class="solid" (click)="addItem()">ADD</button>
  
</div>  