<nav>
    <h1>HACKATHONERS</h1>
    <div class="nav-buttons">
        <a [routerLink]="[ '/items' ]" routerLinkActive="active">
            <i class="material-icons">
                chrome_reader_mode
            </i>
            ITEMS
        </a>
        <a [routerLink]="[ '/burger' ]" routerLinkActive="active">
            <i class="material-icons">
                view_headline
            </i>
            BURGER
        </a>
        <a [routerLink]="[ '/http' ]" routerLinkActive="active">
            <i class="material-icons">
                new_releases
            </i>
            SOMETHING
        </a>
    </div>
</nav>