:root{
    --primary: #f50057;
    --primary-light: #ff5983;
    --primary-dark: #bb002f;
  
    --secondary: #4a148c;
    --secondary-light: #7c43bd;
    --secondary-dark: #12005e;
}

body{
    background-color: #fcf5f5;
    margin: 0;
    font-size: 1em;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.container{
    border-radius: 0.3em;
    box-shadow: 0 1px 8px 1px #6e6e6e;
    padding: 1em;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    background-color: #fff;

    &.uncentered{
        align-items: flex-start;
    }
}

button{
    padding: 1em;
    box-sizing: border-box;
    outline: none;
    border-radius: 0.3em;
    border: none;
    margin: 0.25em 0;
    
    &.solid{
        color: #ffffff;
        background-color: var(--primary);
        transition-property: opacity;
        transition-duration: 150ms;
        transition-timing-function: ease-in;

        &:hover{
            opacity: 0.75;
        }

        &:active{
            background-color: var(--primary-light);
        }
    }
}

input{
    &[type=text],&[type=password]{
        padding: 0.25em;
        font-size: 1em;
        outline: none;
        border-radius: 0.1em;
        margin: 0.25em 0;
        box-sizing: border-box;
    }
}